
<style type="text/css">

	.region-inner{
		min-width: 1000px;
		max-width: 1000px;
	}

	.main-inner{
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.region-inner{
		min-height: 0;
		margin: 0 auto;
	}

	.main-inner .columns{
		padding-left: 0;
		padding-right: 250px;
	}

	.fauxcolumns{
		position: relative;
	}

	.mtb12{
		margin-top: 72px;
		margin-bottom: 72px !important;
	}

	.centered{
		margin-left: auto;
		margin-right: auto;
	}

	.hr{
		clear: both;
		display: block;
		height: 0px;
		border-top: 1px solid rgba(6,8,8,0.12);
		border-bottom: 1px solid rgba(255,255,255,0.15);
		vertical-align: top;
	}

	.space{
		padding-left: 10px;		
		display: block;
		padding-bottom: 3px;
	}

	.header{		
		font-weight: bold;
		display: block;
	}

	.lit{
		color: maroon;
		font-weight: bold;
	}

	.capabilities{
		padding: 30px;
	}

	.lang-html{
		display: block;
		color: #393318;
	}

	pre{
		overflow: auto;
		font-size: 12px;
		padding: 2px;
		width: auto;
		background-color: #eee;
	}


</style>

